body{
  background-color: #363333;
}

ol,
ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.app-wrapper {
  max-width: 1300px;
  padding: 10px 0;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #1d965e;
}

.app-wrapper-content img {
  max-width: 100%;
}